# Server settings
PORT=5443
BASE_URL=http://localhost:5443

# MySQL settings
DB_HOST=localhost 
DB_USER=councoursUser
DB_PASSWORD=#random strong password
DB_NAME=Councours_db

# JWT secret or other keys
JWT_SECRET=
JWT_EXPIRES_IN=24h
# Nodemailer, create a google account for the web
USER_EMAIL= 
USER_PASS=

#  Environment mode
NODE_ENV=development 
